/*

    Name:       Base16 Zissou: Crayon Pony Fish Dark
    Author:     Jan T. Sott

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Zissou: Crayon Pony Fish Comment */
.hljs-comment,
.hljs-title {
  color: #655055;
}

/* Zissou: Crayon Pony Fish Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #a40e38;
}

/* Zissou: Crayon Pony Fish Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #bb4423;
}

/* Zissou: Crayon Pony Fish Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #d44d26;
}

/* Zissou: Crayon Pony Fish Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #68a312;
}

/* Zissou: Crayon Pony Fish Aqua */
.css .hljs-hexcolor {
  color:: #bea6ad;
}

/* Zissou: Crayon Pony Fish Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #eeb679;
}

/* Zissou: Crayon Pony Fish Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #7d4163;
}

.hljs {
  display: block;
  background: #1c0806;
  color: #7c666d;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}