/*

    Name:       Base16 Harper
    Author:     Jan T. Sott

    highlight.js template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
.base16-harper-comment, pre .comment, pre .title {
  color: #8c8983;
}

.base16-harper-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #f8b63f;
}

.base16-harper-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f05932;
}

.base16-harper-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #d6da25;
}

.base16-harper-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #7fb5e1;
}

.base16-harper-aqua, pre .css .hexcolor {
  color: #f5bfd7;
}

.base16-harper-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #489e48;
}

.base16-harper-purple, pre .keyword, pre .javascript .function {
  color: #b296c6;
}

pre code {
  display: block;
  background: #010101;
  color: #a8a49d;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
