/*

    Name:       Base16 Mocha Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
.base16-mocha-light-comment, pre .comment, pre .title {
  color: #7e705a;
}

.base16-mocha-light-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #cb6077;
}

.base16-mocha-light-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #d28b71;
}

.base16-mocha-light-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #f4bc87;
}

.base16-mocha-light-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #beb55b;
}

.base16-mocha-light-aqua, pre .css .hexcolor {
  color: #7bbda4;
}

.base16-mocha-light-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #8ab3b5;
}

.base16-mocha-light-purple, pre .keyword, pre .javascript .function {
  color: #a89bb9;
}

pre code {
  display: block;
  background: #f5eeeb;
  color: #645240;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
