/*

    Name:       Base16 Grayscale Dark
    Author:     Alexandre Gavioli (https://github.com/Alexx2/)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Grayscale Comment */
.hljs-comment,
.hljs-title {
  color: #ababab;
}

/* Grayscale Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #7c7c7c;
}

/* Grayscale Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #999999;
}

/* Grayscale Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #a0a0a0;
}

/* Grayscale Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #8e8e8e;
}

/* Grayscale Aqua */
.css .hljs-hexcolor {
  color:: #868686;
}

/* Grayscale Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #686868;
}

/* Grayscale Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #747474;
}

.hljs {
  display: block;
  background: #101010;
  color: #b9b9b9;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}