/*

    Name:       Base16 Kimbie Dark
    Author:     Jan T. Sott

    highlight.js template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
.base16-kimbie-dark-comment, pre .comment, pre .title {
  color: #d6baad;
}

.base16-kimbie-dark-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #dc3958;
}

.base16-kimbie-dark-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f79a32;
}

.base16-kimbie-dark-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #f06431;
}

.base16-kimbie-dark-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #889b4a;
}

.base16-kimbie-dark-aqua, pre .css .hexcolor {
  color: #7e602c;
}

.base16-kimbie-dark-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #8ab1b0;
}

.base16-kimbie-dark-purple, pre .keyword, pre .javascript .function {
  color: #98676a;
}

pre code {
  display: block;
  background: #221a0f;
  color: #d3af86;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
