/*

    Name:       Base16 Marrakesh Dark
    Author:     Alexandre Gavioli (http://github.com/Alexx2/)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Marrakesh Comment */
.hljs-comment,
.hljs-title {
  color: #86813b;
}

/* Marrakesh Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c35359;
}

/* Marrakesh Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #b36144;
}

/* Marrakesh Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #a88339;
}

/* Marrakesh Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #18974e;
}

/* Marrakesh Aqua */
.css .hljs-hexcolor {
  color:: #75a738;
}

/* Marrakesh Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #477ca1;
}

/* Marrakesh Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8868b3;
}

.hljs {
  display: block;
  background: #201602;
  color: #948e48;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}