/*

    Name:       Base16 Railscasts Dark
    Author:     Ryan Bates (http://railscasts.com)

    highlight.js template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
.base16-railscasts-dark-comment, pre .comment, pre .title {
  color: #d4cfc9;
}

.base16-railscasts-dark-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #da4939;
}

.base16-railscasts-dark-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #cc7833;
}

.base16-railscasts-dark-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #ffc66d;
}

.base16-railscasts-dark-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #a5c261;
}

.base16-railscasts-dark-aqua, pre .css .hexcolor {
  color: #519f50;
}

.base16-railscasts-dark-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #6d9cbe;
}

.base16-railscasts-dark-purple, pre .keyword, pre .javascript .function {
  color: #b6b3eb;
}

pre code {
  display: block;
  background: #2b2b2b;
  color: #e6e1dc;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
